<form
  action="/api/practice/practice/folder_create"
  method="post"
  enctype="multipart/form-data"
>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
  <input
    type="file"
    id="folder"
    name="folder[]"
    multiple
    webkitdirectory
  />
  <input type="submit">

</form>
